        body {
            font-family: Arial, sans-serif;
            background-color: #f0f4f8;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: linear-gradient(135deg, #6e8efb, #a777e3);
        }

        .form-container {
            background: white;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 20px;
            max-width: 400px;
            width: 100%;
            animation: fadeIn 0.5s ease;
        }

        @keyframes fadeIn {
            from { opacity: 0; transform: translateY(-20px); }
            to { opacity: 1; transform: translateY(0); }
        }

        .form-step {
            display: none;
        }

        .form-step.active {
            display: block;
        }

        .form-container h2 {
            margin-bottom: 20px;
            color: #333;
        }

        #final {
            all: unset;
            cursor: pointer;
            display: block;  
        }
        
        .form-container label {
            font-weight: bold;
            display: block;
            margin-bottom: 8px;
        }

        .form-container input, select {
            width: 90%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .form-container button {
            background-color: #7747b9;;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        .form-container button:hover {
            background-color: #3700b3;
        }

        .form-container .step-indicator {
            text-align: center;
            margin-bottom: 20px;
        }

        .form-container .step-indicator span {
            display: inline-block;
            width: 15px;
            height: 15px;
            margin: 0 5px;
            background-color: #ddd;
            border-radius: 50%;
        }

        .form-container .step-indicator span.active {
            background-color: #7747b9;;
        }

     